<% if board.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

    <ul>
    <% board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
