<h1>New Board</h1>

<%= render 'errors', board: @board %>
<%= render_react_component('BoardForm', { board: @board, token: form_authenticity_token, submitText: 'Create Board'}) %>

<%= link_to 'Back', boards_path %>
